<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089649462423-lu5gujj66lh3s8dkejg9pj82456244oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089649462423-lu5gujj66lh3s8dkejg9pj82456244oh</string>
	<key>API_KEY</key>
	<string>AIzaSyBg9JfxPZWqh6tHa54uPNVA_kS5wMxIg3U</string>
	<key>GCM_SENDER_ID</key>
	<string>1089649462423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tgdd.entmsdelivery</string>
	<key>PROJECT_ID</key>
	<string>video-call-lk-express</string>
	<key>STORAGE_BUCKET</key>
	<string>video-call-lk-express.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089649462423:ios:f23d0a25803ba06c6eedd2</string>
	<key>DATABASE_URL</key>
	<string>https://video-call-lk-express-default-rtdb.firebaseio.com</string>
</dict>
</plist>